html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.colorBtn {
  font-size: 15px;
  padding: 8px 12px;     
  background-color: #eb34a8; 
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer; 
}
.colorBtn:hover {
  background-color: white;
  color: #eb34a8;
}
.sizeSlider{
  font-size: 10px;
  padding: 12px 24px;     
  background-color: #eb34a8; 
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer; 
}
.shapeSelect{
  font-size: 20px;
}
